---
layout: default
title: Ceara Byrne
---

<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">

<div class="about-container">
  <div class="about-text">
    {{ site.data.about.blurb | markdownify }}
  </div>
  <div class="about-image">
    <img src="{{ "/assets/img/cearamainimg.png" | relative_url }}" alt="Ceara Byrne">
  </div>
</div>

<div class="spacer"></div>

<section class="section-bg">
  <h2 class="section-title">Fields of Expertise</h2>

  <ul class="fields-grid">
    {% for field in site.data.about.fields %}
      <li class="field-item">
        <h3>{{ field[1].heading }}</h3>
        <div class="field-description">{{ field[1].description | markdownify }}</div>
      </li>
    {% endfor %}
  </ul>
</section>

<h2>Data-Driven Design</h2>

<ul class="vertical-list">
  {% for domain in site.data.about.domains %}
    <li>
        <h3><a href="/domains/{{ domain[0] }}">{{ domain[1].heading }}</a></h3>
        <div>{{ domain[1].description | markdownify }}</div>
    </li>
  {% endfor %}
</ul>
