---
layout: default
title: Ceara Byrne
---

<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">

<div class="about-container">
  <div class="about-text">
    {{ site.data.about.blurb | markdownify }}
  </div>
  <div class="about-image">
    <img src="{{ "/assets/img/cearamainimg.png" | relative_url }}" alt="Ceara Byrne">
  </div>
</div>

<div style="height: 2em;"></div>

<div class="horizontal-list-wrapper"></div>
<div class="section-bg horizontal-list-wrapper">
  <h2 class="section-title">Fields of Expertise</h2>

  <div class="horizontal-list-row">
    <ul class="horizontal-list">
      {% for field in site.data.about.fields limit:3 %}
        <li>
          <h3>{{ field[1].heading }}</h3>
          <div class="field-description">{{ field[1].description | markdownify }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="horizontal-list-row">
    <ul class="horizontal-list">
      {% for field in site.data.about.fields offset:3 limit:3 %}
        <li>
          <h3>{{ field[1].heading }}</h3>
          <div class="field-description">{{ field[1].description | markdownify }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<style>
</style>

<h2>Data-Driven Design</h2>

<ul class="vertical-list">
  {% for domain in site.data.about.domains %}
    <li>
        <h3><a href="/domains/{{ domain[0] }}">{{ domain[1].heading }}</a></h3>
        <div>{{ domain[1].description | markdownify }}</div>
    </li>
  {% endfor %}
</ul>
