.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .horizontal-list {
    flex-direction: column;
  }

  .horizontal-list li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.vertical-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-list li {
  margin-bottom: 1rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  padding-right: 1rem;
}

.about-image {
  flex: 0 0 auto;
  max-height: 100%;
}

.about-image img {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Ensure the image is at most 400px in height */
}

@media (max-width: 600px) {
  .about-image {
    display: none;
  }
}
