<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.short_title | default: page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
  <header>
    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pdf/CV_cbyrne.pdf">CV</a></li>
        <li><a href="https://scholar.google.com/citations?user=1K9COTYAAAAJ&hl=en" target="_blank">Publications</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
    </nav>
    <h1><a href="/">{{ site.title }}</a></h1>
    <button id="nav-toggle" aria-label="Toggle navigation">☰</button>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
  </footer>
  <script>
    document.getElementById('nav-toggle').addEventListener('click', function() {
      var header = document.querySelector('header');
      header.classList.toggle('expanded');
    });
  </script>
</body>
</html>
